.pagination {
  display: inline;
  list-style-type: none;
}

.pagination li a {
  border: 1px solid #f7c1c1;
  cursor: pointer;
  padding: 1vh 2vw;
  text-align: center;
  background-color: #f9f9f9;
  border-radius: 2px;
  float: left;
  margin-left: 1%;
  margin-bottom: 1%;
}

.pagination .previous {
  background-color: #f9f9f9;
  padding-top: 0.3vh;
}

.pagination .active a {
  background-color: violet;
  color: white;
  font-weight: bold;
}