body {
  margin: 0;
}

.card {
  height: 25vh;
  border-radius: 4;
  width: 20vw;
  box-shadow: 1px 1px 4px plum;
  background-color: white;
  text-align: center;
  padding-top: 1vh;
  font-weight: bold;
  overflow-x: scroll
}

.cards-space {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.generate-phone-number-button {
  text-align: center;
}

.hamburger {
  display: none;
}

.pagination {
  display: inline;
  list-style-type: none;
}

.pagination li a {
  border: 1px solid #f7c1c1;
  cursor: pointer;
  padding: 1vh 2vw;
  text-align: center;
  border-radius: 2px;
  float: left;
  margin-left: 1%;
  margin-bottom: 1%;
  background-color: rgb(218, 218, 196);
}

.pagination .active a {
  background-color: rgb(90, 14, 90);
  color: white;
  font-weight: bold;
}

.pagination .previous {
  padding-top: 0.3vh;
}

.phone-number-space {
  height: 42vh;
  overflow-y: scroll;
}

.side-nav {
  width: 20vw;
  height: 100vh;
  background-color: rgb(90, 14, 90);
}

.side-nav-mobile {
  display: none;
}

.side-nav__button {
  font-size: 14px
}

.side-nav__footer {
  color: white;
  position: fixed;
  bottom: 5%;
  left: 1%;
  font-size: 13px;
}

.table-space {
  border-radius: 4;
  box-shadow: 1px 1px 4px plum;
  display: flex;
  text-align: center;
  width: 40vw;
  border-bottom: 1px solid white;
}

/* ==== Responsive Design ==== */

@media (max-width: 1024px) {
  .side-nav__footer {
    font-size: 8px;
  }

  .side-nav__button {
    font-size: 12px
  }

  .side-nav-mobile {
    display: none;
  }
}

@media (max-width: 610px) {
  .card {
    width: 70vw;
    margin: 0 18%;
    margin-bottom: 2%;
  }

  .cards-space {
    display: block;
  }

  .generate-phone-number-button {
    display: flex;
    justify-content: space-evenly;
  }

  .hamburger {
    display: block;
    font-size: 40px;
    cursor: pointer;
  }

  .list-of-numbers-text {
    margin-left: 15%;
  }

  .phone-number-space {
    width: 70vw;
    margin-left: 18%;
  }

  .shift-generate-phone-number-button {
    width: 18vw;
  }

  .side-nav {
    display: none;
  }

  .side-nav-mobile {
    width: 60vw;
    height: 100vh;
    position: fixed;
    z-index: 1;
    background-color: rgb(90, 14, 90);
    display: block;
  }

  .table-space {
    width: 70vw;
  }

}

